body{
    font-family: 'Poppins', sans-serif;
}

.bgImg {
    width: 100%;
    background: url(/assets/bg2.png) no-repeat;
    background-position: right bottom;
    backgroun-image: linear-gradient(to left, #f6f6f6, #f6f6f6);
}